<%= form_for(video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "*影片網址" %>
  <%= form.text_field :url, {required:"required",  autofocus: true, value: 'https://www.youtube.com/watch?v=PTox4Froo4Q'} %>
  <!-- , value: 'https://www.youtube.com/watch?v=w5C7S0FlSyM'  -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
