<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>狀態</th>
      <th>片名</th>
      <th>識別碼</th>
      <th>片長</th>
      <th>格式</th>
      <th>上傳者</th>
      <th>上傳日期</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <% if (video.status && (video.status =='downloaded')) %>
          <td><%= '✅' %></td>
          <td><%= link_to video.title, video.url, target: '_blank' %></td>
          <td><%= video.yid %></td>
          <td><%= Time.at(video.duration.to_i).utc.strftime("%H:%M:%S") %></td>
          <td><%= video.filename && video.filename.split(".").last %></td>
          <td><%= video.uploader %></td>
          <td><%= video.upload_date %></td>
        <% else %>
          <td><%= '🔴' %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
