<p id="notice"><%= notice %></p>

<h1>Videos</h1>
<p><%= link_to 'New Video', new_video_path %></p>
<table>
  <thead>
    <tr>
      <th>狀態</th>
      <th>片名</th>
      <th>識別碼</th>
      <th>片長</th>
      <th>上傳者</th>
      <th>上傳日期</th>
      <th>KBit/s</th>
      <th>已下載</th>
      <th>下載時間</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.status.truncate(15),'' , title: video.status %></td>
        <% if (video.status && (video.status =='downloaded')) %>
          <td>
            <%= link_to ( ((video.url.include? '/channel/') || (video.url.include? 'list=')) ? '🔄' : ''), redownload_videos_path(url: video.url) %>
            <%= link_to (video.title.present? ? video.title.truncate(15) : video.url), video.url, target: '_blank' %>
          </td>
          <td><%= video.yid %></td>
          <td><%= Time.at(video.duration.to_i).utc.strftime("%H:%M:%S") %></td>
          <td><%= video.uploader %></td>
          <td><%= video.upload_date %></td>
          <td><%= video.abr %></td>
          <td><%= video.title.present? ? file_link(video) : '' %></td>
          <td><%= video.created_at.localtime.to_formatted_s(:short) %></td>
        <% else %>
          <td><%= link_to video.url, video.url, target: '_blank' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
