<p id="notice"><%= notice %></p>

<h1>Videos</h1>
<p><%= link_to 'New Video', new_video_path %></p>
<table id='datatable-buttons'>
  <thead>
    <tr>
      <th>狀態</th>
      <th>片名</th>
      <th>影片識別碼</th>
      <th>清單識別碼</th>
      <th>清單名稱</th>
      <th>頻道識別碼</th>
      <th>頻道名稱</th>
      <th>片長</th>
      <th>上傳者</th>
      <th>上傳日期</th>
      <th>KBit/s</th>
      <th>下載時間</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= (link_to video.status,'' , title: video.status) if video.status %></td>
        <td>
          <%= link_to ( ((video.url.include? '/channel/') || (video.url.include? 'list=')) ? '🔄' : ''), redownload_videos_path(url: video.url) %>
          <%= link_to (video.title.present? ? video.title : video.url), video.url, target: '_blank' %>
        </td>
        <td><%= video.yid %></td>
        <td><%= video.playlist_id %></td>
        <td><%= video.channel_id %></td>
        <td><%= video.channel %></td>
        <td><%= Time.at(video.duration.to_i).utc.strftime("%H:%M:%S") %></td>
        <td><%= video.uploader %></td>
        <td><%= video.upload_date %></td>
        <td><%= video.abr %></td>
        <td><%= video.created_at.localtime.to_formatted_s(:short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# video.title.present? ? file_link(video) : '' %>